
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.roomName {
  align-self: center;
}

.playerList {
  position: absolute;
  left: 32px;
  top: 32px;
  color: rgb(132, 0, 255);
}

.centeredText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: rgb(255, 255, 255);
}
