
.container {
  background: #15c;
  height: 64px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 20px;
  flex: 1;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: inline-block;
}

.disabled {
  background: #888;
}
